table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #5B97B7;
    color: #ffffff;
  }
  
  td {
    font-size: 18px;
  }
  

/* Stile generale del form */

#btn {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    padding: 8px;
}

#btn{
    background-color: #5B97B7;
    color: #fff;
    cursor: pointer;
    border-color: #000000;
    transition: background-color 0.2s ease-in-out;
}

#btn:hover {
    background-color: #134967;
    font-size: 20px;
}

#filtro {
  font-size: 17px;
  padding: 9px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #5B97B7;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 1px;
}

#filtro:hover{
  font-size: 20px;
  background-color: #134967;
}

#filtro option {
  font-size: 20px;
  background-color: #ffffff;
  color: #333;
}


  